# Avalanche Fuji Smart Contracts
VITE_STAKEPASS_CORE_ADDRESS=0x7015c225586d4a95ebc585Ba947d7F0236A5D9d1
VITE_SPASS_TOKEN_ADDRESS=0x77426B5099501C023106E0a83FF75fe6F2aFE94D

# Optional: Supabase Backend Configuration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
